@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.header{
    background-color: gray;
    text-align: center;
    padding: 20px;
}
.Child-Header{
    margin-left: 50px;
    text-transform: uppercase;
}
.header-para{
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}
.header-para1{
    background-color: burlywood;
    color: brown;
    text-align: center;
    padding-top: 50px;
}